# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# VSCode settings
.vscode/

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log
